.timeDisplay {
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    color: #fafafa;
    font-family: Jost, sans-serif;
    padding-bottom: 3px;
}

.timeDisplay p {
    margin: 0;
    padding: 0;
    padding-top: 15px;
}

.timeDisplay p.date-text {
    font-size: 0.9rem;
    padding-top: 0;
    padding-bottom: 17px;
}