.timeEventsDisplay {
    height: 34px;
    overflow: hidden;
}

.timeCurrentMarker {
    border-left: 1px solid white;
    margin-left: -1px;
    left: 50%;
    height: 100%;
}

.eventMarker {
    margin-left: -0.83rem;
}

.pastTimeEvent {
    color: white;
    opacity: 20%;
}

.hourMarker {
    font-size: 0.8rem;
    color: white;
    padding: 0.48rem 0 0.48rem 0;
    opacity: 50%;
}

.hourMarker.pastTimeEvent {
    color: lightgray;
}