body {
  background-color: black;
}

/* Put a bunch of extra margin on the top if there's no label to keep it inline with other fields */
.form-text-without-label {
  margin-top: 37px;
}

/* A horizontal rule in a modal needs to extend out into the padding a bit */
.modal-hr {
  margin-left: -1rem;
  margin-right: -1rem;
}

/* A smaller font size */
.fs-7 {
  font-size: 0.8rem;
}